::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
	background-color: $black;
	outline: 1px solid $grey;
}
html{
	overflow: hidden;
	overflow-y: auto;
	&.show__menu{
		overflow: hidden;
	}
	@include media-breakpoint-down(lg) {
		&.hide__scroll{
			overflow: hidden;
		}
	}
}
body{
	overflow: hidden;
	overflow-x: hidden;

}
main{
	width: 100%;
	float: left;
	min-height: 80vh;
}
section{
	width: 100%;
	float: left;
	overflow: hidden;
}
.container-fluid{
	padding-left: 50px;
	padding-right: 50px;
	&.padding-right{
		padding-right: 115px;
	}
	&.nopadding{
		padding-left: 0;
		padding-right: 0;
	}
}
.row{
	margin-left: -25px;
	margin-right: -25px;
	&>*{
		padding-left: 25px;
		padding-right: 25px;
	}
	&.large-margin{
		margin-left: -75px;
		margin-right: -75px;
	}
}
.col-lg-71{
	width: 71%;
}
.col-lg-29{
	width: 29%;
}
.ark-{
	&page__title__section{
		padding: 14px 0 6px;
		h1{
			text-transform: capitalize;
		}
	}
	&button__group{
		width: 100%;
		float: left;
		margin: 22px 0 31px;
	}
}
@include media-breakpoint-down(xl) {
	.col-lg-71{
		width: 65%;
	}
	.col-lg-29{
		width: 35%;
	}
}
@include media-breakpoint-down(lg) {
	::-webkit-scrollbar {
		width: 2px;
		height: 2px;
	}
	.container-fluid{
		padding-left: 25px;
		padding-right: 25px;
		&.padding-right{
			padding-right: 25px;
		}
	}
	.col-lg-71{
		width: 100%;
	}
	.col-lg-29{
		width: 100%;
	}
}