body{
	font-family: $primary-font;
	color: $black;
}
a{
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
}
img{
	max-width: 100%;
	height: auto;
}
h1,
.project__title{
	font-size: 75px;
	line-height: 90px;
}
h2{
	font-size: 40px;
	line-height: 54px;
}
h3{
	font-size: 24px;
	line-height: 32px;
}
h4{
	font-size: 20px;
	line-height: 28px;
}
h5{
	font-size: 16px;
	line-height: 21px;
}
h6{
	font-size: 13px;
	line-height: 18px;
}
p{
	font-size: 16px;
	line-height: 21px;
}
.btn{
	display: inline-block;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
	color: $black;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid $black;
	padding: 10px 0;
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
	&:hover{
		color: $grey;
		border-color: $grey;
	}
	&.disabled{
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
	&.load{
		opacity: 0.6;
		pointer-events: none;
	}
}
@include media-breakpoint-down(lg) {
	h1,
	.project__title{
		font-size: 40px;
		line-height: 54px;
	}
	h2{
		font-size: 24px;
		line-height: 32px;
	}
	h3{
		font-size: 16px;
		line-height: 25px;
	}
}