.ark-footer{
	width: 100%;
	float: left;
	padding: 43.5px 0 50px;
	p,a{
		font-size: 13px;
		line-height: 18px;
		color: $grey;
		text-decoration: none;
		margin-bottom: 0;
	}
	a{
		&:hover{
			text-decoration: underline;
			color: $black;
		}
	}
	&__arrow{
		display: inline-block;
		text-align: center;
		cursor: pointer;
		position: relative;
		bottom: -25px;
		line-height: 18px;
		vertical-align: top;
		white-space: nowrap;
		-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
		h6{
			margin-bottom: 0;
		}
		&::before{
			content: '';
			width: 18px;
			height: 14px;
			display: block;
			position: absolute;
			top: -18px;
			left: 50%;
			margin-left: -9px;
			pointer-events: none;
			background-image: url('../images/top-arrow.svg');
			-webkit-transition: all 0.2s ease;
					transition: all 0.2s ease;
		}
		&:hover{
			opacity: 0.6;
			&::before{
				top: -30px;
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.ark-footer{
		padding: 40px 0;
		&__arrow{
			bottom: auto;
			margin-bottom: 60px;
		}
	}
}