.admin-bar{
	.ark-{
		&header{
			&.absolute{
				top: 32px;
			}
		}
	}
}
.ark-{
	&header{
		width: 100%;
		float: left;
		padding: 34px 0;
		&.absolute{
			position: absolute;
			top: 0;
			left: 0;
			z-index: 100;
		}
	}
	&logo{
		width: 100%;
		max-width: 218px;
		display: block;
	}
	&mobile__{
		&block{
			width: 100%;
			float: left;
			margin-top: 33px;
		}
		&btn{
			width: 25px;
			height: 16px;
			display: block;
			position: relative;
			float: right;
			margin: 8px 0 0;
			span{
				width: 25px;
				height: 1px;
				display: block;
				position: absolute;
				background-color: $black;
				left: 0;
				-webkit-transition: all 0.3s ease;
						transition: all 0.3s ease;
				&:nth-child(1){
					top: 2px;
				}
				&:nth-child(2){
					top: 8px;
				}
				&:nth-child(3){
					top: 14px;
				}
			}
			&.show{
				span{
					&:nth-child(1){
						top: 10px;
						-webkit-transform: rotate(45deg);
								transform: rotate(45deg);
					}
					&:nth-child(2){
						top: 10px;
						-webkit-transform: rotate(-45deg);
								transform: rotate(-45deg);
					}
					&:nth-child(3){
						width: 0;
					}
				}
			}
		}
		&menu{
			width: 100%;
			height: calc(100vh - 53.5px);
			float: left;
			position: fixed;
			left: 0;
			bottom: 0;
			top: 154px;
			background-color: $white;
			z-index: 101;
			opacity: 0;
			visibility: hidden;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
			&.show{
				top: 54px;
				opacity: 1;
				visibility: visible;
			}
			.ark-lang__switcher{
				width: 100%;
				float: left;
				margin-bottom: 43px;
				ul{
					width: 100%;
					float: left;
					li{
						display: inline-block;
						float: none;
					}
				}
			}
		}
		&nav{
			width: 100%;
			float: left;
			margin-bottom: 43px;
			ul{
				width: 100%;
				float: left;
				padding: 0;
				margin: 0;
				list-style: none;
				li{
					width: 100%;
					float: left;
					a{
						width: 100%;
						float: left;
						display: block;
						text-align: center;
						font-size: 40px;
						line-height: 60px;
						text-decoration: none;
						color: $black;
						&:hover{
							color: $grey;
						}
					}
				}
			}
		}
		&contacts{
			width: 100%;
			float: left;
			a{
				color: $black;
				text-decoration: none;
				&:hover{
					color: $grey;
				}
			}
			&.phones{
				margin: 45px 0 2px;
			}
		}
	}
	&menu{
		&__block{
			width: 100%;
			float: left;
			margin: 13px 0 0;
			padding-left: 4px;
		}
		&__nav{
			margin: 2px 0 0;
			ul{
				padding: 0;
				margin: 0;
				list-style: none;
				li{
					float: left;
					margin: 0 26.5px 0 0;
					&:last-child{
						margin: 0;
					}
					&.current-menu-item{
						a{
							&::after{
								left: 0;
							}
						}
					}
					a{
						display: block;
						font-size: 16px;
						line-height: 21px;
						color: $black;
						text-decoration: none;
						padding: 0 0 8px 0;
						position: relative;
						overflow: hidden;
						&::after{
							content: '';
							width: 100%;
							height: 2px;
							display: block;
							float: left;
							position: absolute;
							bottom: 0;
							left: -100%;
							background-color: $black;
							-webkit-transition: all 0.2s ease;
									transition: all 0.2s ease;
						}
						&:hover{
							&::after{
								left: 0;
							}
						}
					}
				}
			}
		}
	}
	&lang__switcher{
		ul{
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				float: left;
				a{
					min-width: 44.5px;
					display: block;
					font-size: 13px;
					line-height: 18.5px;
					color: $grey;
					border: 1px solid $silver;
					padding: 3.5px 5px 2px;
					text-decoration: none;
					text-align: center;
					text-transform: uppercase;
					&:hover{
						color: $black;
						border-color: $black;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1500px){
	.ark-menu__nav ul li{
		margin: 0 15px 0 0;
	}
}
@include media-breakpoint-down(lg) {
	.ark-{
		&header{
			padding: 10px 0 18px;
		}
		&logo{
			max-width: 147.5px;
		}
	}
}