.ark-map{
	width: 100%;
	height: 62vh;
	min-height: 410px; 
	float: left;
	&__contacts__{
		&block{
			width: 100%;
			float: left;
		}
		&row{
			width: 100%;
			float: left;
			margin-bottom: 34px;
			&:last-child{
				margin-bottom: 0;
			}
			&.phones{
				a{
					margin-bottom: 5px;
					display: block;
				}
			}
			h6{
				color: $grey;
				margin-bottom: 5px;
			}
			h3{
				margin-bottom: 0;
			}
			a{
				color: $black;
				text-decoration: none;
				&.social{
					float: left;
					text-decoration: underline;
					margin: 0 33.5px 0 0;
				}
				&:hover{
					text-decoration: underline;
					color: $grey;
				}
			}
		}
		&__section{

		}
	}
}
@include media-breakpoint-down(lg) {
	.ark-map{
		margin-bottom: 13px;
		&__contacts__row{
			margin-bottom: 19px;
			h6{
				margin-bottom: 0;
			}
			&.phones{
				a{
					margin-bottom: 0;
				}
			}
		}
	}
}
@include media-breakpoint-down(sm) {
	.ark-map{
		height: 215px;
		min-height: inherit;
	}
}