.ark-{
	&projects__{
		&section{

		}
		&nav{
			width: 100%;
			float: left;
			margin: 2px 0 32px;
			ul{
				width: 100%;
				float: left;
				padding: 0;
				margin: 0;
				list-style: none;
				li{
					float: left;
					margin-right: 37px;
					a{
						font-size: 13px;
						line-height: 18px;
						text-decoration: none;
						color: $light-grey;
						text-transform: uppercase;
						&:hover{
							color: $black;
						}
					}
					&.current-menu-item{
						a{
							color: $black;
						}
					}
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}
	}
	&posts__grid{
		width: 100%;
		float: left;
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
		&.load{
			opacity: 0.7;
		}
	}
}
@include media-breakpoint-down(lg) {
	.ark-project{
		&s__nav{
			margin: 2px 0 20px;
			ul{
				width: inherit;
				float: none;
				white-space: nowrap;
				overflow: auto;
				-ms-overflow-style: none;
				scrollbar-width: none; 
				&::-webkit-scrollbar {
					display: none;
				}
				li{
					float: none;
					display: inline-block;
					white-space: nowrap;
					margin-right: 20px;
				}
			}
		}
	}
}