.ark-{
	&projects__slider{
		width: 100%;
		height: 100vh;
		float: left;
		.swiper-button-next.text{
			width: auto;
			height: auto;
			right: auto;
			left: calc(35.5% - 20px);
			top: calc(100vh - 68px);
			margin-top: 0;
			z-index: 101;
			color: $white;
			font-size: 13px;
			line-height: 13px;
			text-transform: uppercase;
			padding-left: 18px;
			-webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
			-webkit-transition: all 0.2s ease;
					transition: all 0.2s ease;
			&::after{
				display: none;
			}
			span{
				&::before{
					content: '';
					display: block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 5px 5px 0 5px;
					border-color: #ffffff transparent transparent transparent;
					position: absolute;
					left: 0;
					top: 4px;
				}
			}
			&.swiper-button-disabled{
				opacity: 0;
				visibility: hidden;
			}
			&:focus,
			&:active{
				box-shadow: none;
				outline: none;
			}
		}
		.swiper-button-prev.text{
			width: auto;
			height: auto;
			left: calc(35.5% - 20px);
			top: 55px;
			margin-top: 0;
			z-index: 101;
			color: $white;
			font-size: 13px;
			line-height: 13px;
			text-transform: uppercase;
			padding-left: 18px;
			-webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
			-webkit-transition: all 0.2s ease;
					transition: all 0.2s ease;
			&::after{
				display: none;
			}
			span{
				&::before{
					content: '';
					display: block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 5px 5px 5px;
					border-color: transparent transparent #ffffff transparent;
					position: absolute;
					left: 0;
					top: 4px;
				}
			}
			&.swiper-button-disabled{
				opacity: 0;
				visibility: hidden;
			}
			&:focus,
			&:active{
				box-shadow: none;
				outline: none;
			}
		}
		&__section{

		}
	}
	&gallery__slider{
		width: 100%;
		float: left;
		position: relative;
		overflow: hidden;
		&__wrapper{
			width: 100%;
			float: left;
			padding-right: 20px;
		}
		.swiper-slide{
			width: 100%;
			height: 100vh;
			float: left;
			position: relative;
			.image{
				width: 100%;
				height: 100%;
				background-position: center;
				background-size: cover;
				position: relative;
				z-index: 3;
				&::before{
					content: '';
					width: 100%;
					height: 200px;
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					background: rgb(0,0,0);
					background: linear-gradient(180deg, rgba(0,0,0,0.4) 0.7%, rgba(22,50,83,0) 85%);
					z-index: 1;
					pointer-events: none;
				}
				&::after{
					content: '';
					width: 100%;
					height: 200px;
					display: block;
					position: absolute;
					left: 0;
					bottom: 0;
					background: rgb(0,0,0);
					background: linear-gradient(0deg, rgba(0,0,0,0.4) 0.7%, rgba(22,50,83,0) 85%);
					z-index: 1;
					pointer-events: none;
				}
			}
		}
		.swiper-button-prev{
			width: 50px;
			height: 20px;
			left: 50px;
			background-image: url('../images/prev-slide.svg');
			-webkit-transition: all 0.2s ease;
					transition: all 0.2s ease;
			&::after{
				display: none;
			}
			&.swiper-button-disabled{
				opacity: 0;
				visibility: hidden;
			}
			&:focus,
			&:active{
				box-shadow: none;
				outline: none;
			}
		}
		.swiper-button-next{
			width: 50px;
			height: 20px;
			right: 70px;
			background-image: url('../images/next-slide.svg');
			-webkit-transition: all 0.2s ease;
					transition: all 0.2s ease;
			&::after{
				display: none;
			}
			&.swiper-button-disabled{
				opacity: 0;
				visibility: hidden;
			}
			&:focus,
			&:active{
				box-shadow: none;
				outline: none;
			}
		}
		&__section{
			width: 100%;
			float: left;
			.content{
				width: 100%;
				height: 100%;
				float: left;
				position: relative;
				// overflow: auto;
				&__wrapper{
					height: 100vh;
					position: relative;
					left: -20px;
					right: 0;
					bottom: 0;
					padding: 126px 0 50px;
					-webkit-transition: all 0.2s ease;
							transition: all 0.2s ease;
				}
				.show__info{
					font-size: 13px;
					line-height: 18px;
					text-transform: uppercase;
					color: $black;
					position: absolute;
					top: 18.5px;
					right: 25px;
					padding-right: 31px;
					&::after{
						content: '';
						width: 25px;
						height: 25px;
						display: block;
						position: absolute;
						right: 0;
						top: -4px;
						background-image: url('../images/show-info.svg');
						background-position: center;
						background-size: cover;
						-webkit-transition: all 0.2s ease;
								transition: all 0.2s ease;
					}
				}
				.project__{
					&title{
						text-transform: uppercase;
					}
					&details{
						width: 100%;
						float: left;
						padding: 5px;
					}
					&row{
						width: 100%;
						float: left;
						margin-bottom: 8px;
						.label{
							width: 25%;
							float: left;
							h6{
								color: $grey;
							}
						}
						.value{
							width: 75%;
							float: left;
							p{
								font-size: 13px;
								line-height: 18px;
								margin-bottom: 0;
							}
						}
					}
					&description{
						width: 100%;
						float: left;
						padding: 16px 61px 0 5px;
						position: absolute;
						bottom: 0;
						top: 250px;
						overflow: auto;
					}
				}
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.ark-{
		&projects__slider{
			height: calc(100vh - 56px);
			.swiper-slide{
				overflow: hidden;
			}
			.swiper-button-prev.text{
				width: 100%;
				left: 0;
				color: $black;
				padding: 18.5px 25px;
				top: 53.5px;
				background-color: #F9F9F9;
				z-index: 99;
				-webkit-transform: translateX(0);
                    	transform: translateX(0);
                span{
                	display: block;
                	position: relative;
                	padding-left: 18px;
                	float: left;
                	&::before{
                		border-color: transparent transparent $black;
                	}
                }
			}
			.swiper-button-next.text{
				width: 100%;
				left: 0;
				color: $black;
				padding: 18.5px 25px;
				top: calc(100vh - 50px);
				background-color: #F9F9F9;
				z-index: 99;
				-webkit-transform: translateX(0);
                    	transform: translateX(0);
                span{
                	display: block;
                	position: relative;
                	padding-left: 18px;
                	float: left;
                	&::before{
                		border-color: $black transparent transparent;
                	}
                }
			}
		}
		&gallery__slider{
			.swiper-button-next{
				width: 31px;
				height: 20px;
				background-image: url('../images/next-slide-mobile.svg');
				top: auto;
				margin-top: 0;
				bottom: 30px;
				right: 25px;
			}
			.swiper-button-prev{
				width: 31px;
				height: 20px;
				background-image: url('../images/prev-slide-mobile.svg');
				top: auto;
				margin-top: 0;
				bottom: 30px;
				left: 25px;
			}
			&__wrapper{
				padding: 0;
			}
			.swiper-slide{
				height: calc(100vh - 54px - 50px - 84px);
				.image{
					height: calc(100vh - 187px);
				}
			}
			&__section{
				.content{
					&__wrapper{
						width: 100%;
						height: calc(100vh - 54px - 50px - 50px);
						left: 0;
						padding: 14.5px 25px 50px;
						background-color: #fff;
						z-index: 11;
						.content{
							.show__info{
								right: 0;
							}
						}
						&.show{
							bottom: calc(100% - 84px);
							.project__{
								&details,
								&description{
									display: block;
								}
								// &description{
									
								// }
							}
							.content{
								.show__info::after{
									-webkit-transform: rotate(45deg);
                    						transform: rotate(45deg);
								}
							}
						}
					}
					.project__{
						&title{
							padding: 0 0 14.5px;
							margin-bottom: 0;
						}
						&details,
						&description{
							display: none;
						}
						&description{
							top: 220.5px;
							padding: 14px 5px 0 5px;
						}
					}
				}
				&.single{
					height: calc(100vh - 54px);
					overflow: hidden;
					.swiper-slide{
						height: calc(100vh - 54px - 82px);
						.image{
							height: 100%;
						}
					}
					.content__wrapper{
						height: calc(100vh - 54px);
						padding-bottom: 50px;
						&.show{
							bottom: calc(100% - 82px);
						}
					}
				}
			}
		}
	}
}