.ark-{
	&service{
		&s__section{

		}
		&__block{
			width: 100%;
			float: left;
			padding: 13px 45px 39px 6px;
			.content{
				width: 100%;
				float: left;
				border-top: 1px solid $black;
				padding: 17px 0 13px;
			}
			h2{
				margin-bottom: 20px;
			}
			ul{
				padding: 0;
				margin: 0;
				list-style: none;
				li{
					font-size: 16px;
					line-height: 30px;
					padding-left: 30px;
					position: relative;
					&::before{
						content: '';
						width: 6px;
						height: 6px;
						display: block;
						position: absolute;
						left: 0;
						top: 9px;
						border-radius: 50%;
						background-color: $black;
					}
				}
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.ark-service__block{
		padding: 10px 0 30px 0;
		h2{
			margin-bottom: 14px;
		}
		ul{
			li{
				font-size: 13px;
				line-height: 25px;
				&::before{
					top: 10px;
				}
			}
		}
	}
}