.ark-{
	&project__block{
		width: 100%;
		float: left;
		margin-bottom: 12px;
		text-decoration: none;
		.thumbnail{
			width: 100%;
			height: 440px;
			float: left;
			position: relative;
			overflow: hidden;
			margin-bottom: 5px;
			.image{
				position: absolute;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center;
				top: 0;
				left: 0;
				-webkit-transition: all 3s ease;
						transition: all 3s ease;
			}
		}
		&:hover{
			.thumbnail .image{
				-webkit-transform: scale(1.2);
                    	transform: scale(1.2);
			}
			.text__link::after{
				width: 50px;
				right: 0;
			}
		}
		.content{
			width: 100%;
			float: left;
		}
		h3{
			text-transform: uppercase;
			color: $black;
			float: left;
			margin: 0 19px 0 0;
		}
		.text__link{
			font-size: 13px;
			line-height: 18px;
			color: $black;
			float: left;
			margin: 8px 0 0;
			padding-right: 60px;
			position: relative;
			&::after{
				content: '';
				width: 25px;
				height: 14px;
				display: block;
				position: absolute;
				right: 25px;
				top: 2px;
				background-image: url('../images/project-arrow.svg');
				background-position: right;
				-webkit-transition: all 0.3s ease;
						transition: all 0.3s ease;
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.ark-project__block {
		margin-bottom: 21px;
		.thumbnail{
			height: 293px;
		}
		h3{
			font-size: 24px;
			line-height: 26px;
		}
		.text__link{
			margin: 5px 0 0;
		}
	}
}